@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececed;
}

.vl {
  border-left: 2px solid #c6538c;
  height: 30px;
}

.headingText {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.paraText {
  font-family: "Madimi One", sans-serif;
  font-style: italic;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}
.infoBoxText {
  font-family: "Madimi One", sans-serif;
  font-style: italic;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  color: #d3d3d3;
}

.main-cell {
  height: "100%";
  width: "50%";
}
.usertab {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.usertab:hover {
  opacity: 0.8;
}
.usertab:active {
  opacity: 0.3;
}
