@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body,
.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: "flex";
  flex-direction: column;
}

.vl {
  border-left: 2px solid #c6538c;
  height: 30px;
}
